@model IEnumerable<KudvenkatMVC.Models.DepartmentTotals>

@{
    ViewData["Title"] = "EmplyeesByDepartment";
}

<h2>EmplyeesByDepartment</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
        </tr>
}
    </tbody>
</table>
